In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

D:\Anaconda\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [2]:
data = {
    'ID':     [1,2,3,4,5,6],
    'Onion':  [1,0,0,1,1,1],
    'Potato':[1,1,0,1,1,1],
    'Burger': [1,1,0,0,1,1],
    'Milk':   [0,1,1,1,0,1],
    'Beer':   [0,0,1,0,1,0]
}

df = pd.DataFrame(data)
df = df[['ID','Onion','Potato','Burger','Milk','Beer']]

In [3]:
df

   ID  Onion  Potato  Burger  Milk  Beer
0   1      1       1       1     0     0
1   2      0       1       1     1     0
2   3      0       0       0     1     1
3   4      1       1       0     1     0
4   5      1       1       1     0     1
5   6      1       1       1     1     0

### 设置支持度（support）来选择频繁项集
    选择最小支持度为50%
    apriori(df, min_support=0.5, use_colname=True)

In [5]:
frequent_itemsets = apriori(df[['Onion','Potato','Burger','Milk','Beer']],min_support=0.50,use_colnames=True)

In [6]:
frequent_itemsets

    support                 itemsets
0  0.666667                  (Onion)
1  0.833333                 (Potato)
2  0.666667                 (Burger)
3  0.666667                   (Milk)
4  0.666667          (Onion, Potato)
5  0.500000          (Onion, Burger)
6  0.666667         (Potato, Burger)
7  0.500000           (Potato, Milk)
8  0.500000  (Onion, Potato, Burger)

In [7]:
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)

In [8]:
rules
#返回的是各个指标的数值，可以按照兴趣的指标排序观察，但具体解释还得参考实际数据的含义。

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Onion),(Potato),0.666667,0.833333,0.666667,1.00,1.200,0.111111,inf
1,(Potato),(Onion),0.833333,0.666667,0.666667,0.80,1.200,0.111111,1.666667
2,(Onion),(Burger),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
3,(Burger),(Onion),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
4,(Potato),(Burger),0.833333,0.666667,0.666667,0.80,1.200,0.111111,1.666667
5,(Burger),(Potato),0.666667,0.833333,0.666667,1.00,1.200,0.111111,inf
6,"(Onion, Potato)",(Burger),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
7,"(Onion, Burger)",(Potato),0.500000,0.833333,0.500000,1.00,1.200,0.083333,inf
8,"(Potato, Burger)",(Onion),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
9,(Onion),"(Potato, Burger)",0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
10,(Potato),"(Onion, Burger)",0.833333,0.500000,0.500000,0.60,1.200,0.083333,1.250000
11,(Burger),"(Onion, Potato)",0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333

In [13]:
rules[(rules['lift']>1.125) & (rules['confidence']>0.8)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Onion),(Potato),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf
5,(Burger),(Potato),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf
7,"(Onion, Burger)",(Potato),0.500000,0.833333,0.500000,1.0,1.2,0.083333,inf

### 这几条结果就比较有价值了
 （洋葱和马铃薯）（汉堡和马铃薯）可以搭配着来卖
 如果洋葱和汉堡都在购物篮中，顾客买马铃薯的可能性就比较高

# 电影题材关联

In [15]:
movies = pd.read_csv('../data/movies.csv')
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

数据中心包括电影名、电影类型标签，第一步还是先转换成one-hot格式

In [17]:
movies_ohe = movies.drop('genres',1).join(movies.genres.str.get_dummies())
pd.options.display.max_columns=100
movies_ohe.head()

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [19]:
movies_ohe.shape

(9742, 22)

数据集包括9742部电影，一共有20种不同类型

In [20]:
movies_ohe.set_index(['movieId','title'], inplace=True)
movies_ohe.head()

,,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,title,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,Jumanji (1995),0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,Grumpier Old Men (1995),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,Waiting to Exhale (1995),0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
5,Father of the Bride Part II (1995),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [21]:
frequent_itemsets_movies = apriori(movies_ohe,use_colnames=True,min_support=0.025)

In [22]:
frequent_itemsets_movies

     support                  itemsets
0   0.187641                  (Action)
1   0.129645               (Adventure)
2   0.062718               (Animation)
3   0.068158                (Children)
4   0.385547                  (Comedy)
5   0.123075                   (Crime)
6   0.045165             (Documentary)
7   0.447649                   (Drama)
8   0.079963                 (Fantasy)
9   0.100390                  (Horror)
10  0.034285                 (Musical)
11  0.058817                 (Mystery)
12  0.163827                 (Romance)
13  0.100595                  (Sci-Fi)
14  0.194416                (Thriller)
15  0.039212                     (War)
16  0.062615       (Adventure, Action)
17  0.044036          (Action, Comedy)
18  0.042907           (Crime, Action)
19  0.054301           (Action, Drama)
20  0.046294          (Sci-Fi, Action)
21  0.067235        (Action, Thriller)
22  0.025354    (Animation, Adventure)
23  0.032026     (Children, Adventure)
24  0.040957       (Adventure, Comedy)
25  0.031924        (Adventure, Drama)
26  0.034285      (Adventure, Fantasy)
27  0.031410       (Sci-Fi, Adventure)
28  0.031000     (Children, Animation)
29  0.027612       (Animation, Comedy)
30  0.037159        (Children, Comedy)
31  0.035414           (Crime, Comedy)
32  0.103983           (Drama, Comedy)
33  0.030076         (Comedy, Fantasy)
34  0.090741         (Romance, Comedy)
35  0.065387            (Crime, Drama)
36  0.058407         (Crime, Thriller)
37  0.029563          (Mystery, Drama)
38  0.095874          (Romance, Drama)
39  0.085403         (Thriller, Drama)
40  0.030589              (War, Drama)
41  0.047116        (Horror, Thriller)
42  0.036338       (Mystery, Thriller)
43  0.031000        (Sci-Fi, Thriller)
44  0.035106  (Romance, Drama, Comedy)
45  0.031718  (Thriller, Crime, Drama)

In [23]:
rules_movies = association_rules(frequent_itemsets_movies,metric='lift',min_threshold=1.25)

In [24]:
rules_movies

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Adventure),(Action),0.129645,0.187641,0.062615,0.482977,2.573940,0.038289,1.571224
1,(Action),(Adventure),0.187641,0.129645,0.062615,0.333698,2.573940,0.038289,1.306247
2,(Crime),(Action),0.123075,0.187641,0.042907,0.348624,1.857929,0.019813,1.247142
3,(Action),(Crime),0.187641,0.123075,0.042907,0.228665,1.857929,0.019813,1.136892
4,(Sci-Fi),(Action),0.100595,0.187641,0.046294,0.460204,2.452576,0.027419,1.504937
5,(Action),(Sci-Fi),0.187641,0.100595,0.046294,0.246718,2.452576,0.027419,1.193981
6,(Action),(Thriller),0.187641,0.194416,0.067235,0.358315,1.843034,0.030754,1.255420
7,(Thriller),(Action),0.194416,0.187641,0.067235,0.345829,1.843034,0.030754,1.241814
8,(Animation),(Adventure),0.062718,0.129645,0.025354,0.404255,3.118175,0.017223,1.460953
9,(Adventure),(Animation),0.129645,0.062718,0.025354,0.195566,3.118175,0.017223,1.165145
10,(Children),(Adventure),0.068158,0.129645,0.032026,0.469880,3.624360,0.023190,1.641806
11,(Adventure),(Children),0.129645,0.068158,0.032026,0.247031,3.624360,0.023190,1.237556
12,(Adventure),(Fantasy),0.129645,0.079963,0.034285,0.264450,3.307149,0.023918,1.250815
13,(Fantasy),(Adventure),0.079963,0.129645,0.034285,0.428755,3.307149,0.023918,1.523610
14,(Sci-Fi),(Adventure),0.100595,0.129645,0.031410,0.312245,2.408464,0.018369,1.265502
15,(Adventure),(Sci-Fi),0.129645,0.100595,0.031410,0.242280,2.408464,0.018369,1.186989
16,(Children),(Animation),0.068158,0.062718,0.031000,0.454819,7.251799,0.026725,1.719213
17,(Animation),(Children),0.062718,0.068158,0.031000,0.494272,7.251799,0.026725,1.842573
18,(Children),(Comedy),0.068158,0.385547,0.037159,0.545181,1.414044,0.010880,1.350983
19,(Comedy),(Children),0.385547,0.068158,0.037159,0.096379,1.414044,0.010880,1.031231
20,(Romance),(Comedy),0.163827,0.385547,0.090741,0.553885,1.436620,0.027578,1.377341
21,(Comedy),(Romance),0.385547,0.163827,0.090741,0.235357,1.436620,0.027578,1.093547
22,(Crime),(Thriller),0.123075,0.194416,0.058407,0.474562,2.440963,0.034479,1.533167
23,(Thriller),(Crime),0.194416,0.123075,0.058407,0.300422,2.440963,0.034479,1.253506
24,(Romance),(Drama),0.163827,0.447649,0.095874,0.585213,1.307302,0.022537,1.331649
25,(Drama),(Romance),0.447649,0.163827,0.095874,0.214171,1.307302,0.022537,1.064065
26,(War),(Drama),0.039212,0.447649,0.030589,0.780105,1.742669,0.013036,2.511880
27,(Drama),(War),0.447649,0.039212,0.030589,0.068333,1.742669,0.013036,1.031257
28,(Horror),(Thriller),0.100390,0.194416,0.047116,0.469325,2.414026,0.027598,1.518037
29,(Thriller),(Horror),0.194416,0.100390,0.047116,0.242344,2.414026,0.027598,1.187360
30,(Mystery),(Thriller),0.058817,0.194416,0.036338,0.617801,3.177729,0.024902,2.107761
31,(Thriller),(Mystery),0.194416,0.058817,0.036338,0.186906,3.177729,0.024902,1.157532
32,(Sci-Fi),(Thriller),0.100595,0.194416,0.031000,0.308163,1.585072,0.011442,1.164414
33,(Thriller),(Sci-Fi),0.194416,0.100595,0.031000,0.159451,1.585072,0.011442,1.070020
34,"(Drama, Comedy)",(Romance),0.103983,0.163827,0.035106,0.337611,2.060781,0.018071,1.262360
35,(Romance),"(Drama, Comedy)",0.163827,0.103983,0.035106,0.214286,2.060781,0.018071,1.140386
36,"(Drama, Thriller)",(Crime),0.085403,0.123075,0.031718,0.371394,3.017617,0.021207,1.395031
37,"(Crime, Drama)",(Thriller),0.065387,0.194416,0.031718,0.485086,2.495096,0.019006,1.564503
38,(Thriller),"(Crime, Drama)",0.194416,0.065387,0.031718,0.163147,2.495096,0.019006,1.116818
39,(Crime),"(Drama, Thriller)",0.123075,0.085403,0.031718,0.257715,3.017617,0.021207,1.232136

In [25]:
rules_movies[(rules_movies.lift)>4].sort_values(by=['lift'],ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
16,(Children),(Animation),0.068158,0.062718,0.031,0.454819,7.251799,0.026725,1.719213
17,(Animation),(Children),0.062718,0.068158,0.031,0.494272,7.251799,0.026725,1.842573

children和animation相关度比较高

In [26]:
movies[(movies.genres.str.contains('Children')) & (movies.genres.str.contains('Animation'))]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12,13,Balto (1995),Adventure|Animation|Children
44,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
205,239,"Goofy Movie, A (1995)",Animation|Children|Comedy|Romance
272,313,"Swan Princess, The (1994)",Animation|Children
...,...,...,...
9629,178827,Paddington 2 (2017),Adventure|Animation|Children|Comedy
9657,180987,Ferdinand (2017),Animation|Children|Comedy
9664,182293,Hare-um Scare-um (1939),Animation|Children|Comedy
9666,182299,Porky's Hare Hunt (1938),Animation|Children|Comedy
9708,187541,Incredibles 2 (2018),Action|Adventure|Animation|Children